<%= form_with(model: pet_history, local: true) do |form| %>
  <% if pet_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet_history.errors.count, "error") %> prohibited this pet_history from being saved:</h2>
      <ul>
        <% pet_history.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= form.label :name %>
    <select name="pet_history[pet_id]">
    <% @pets.each do |pet| %>
      <option value="<%= pet.id %>"><%= pet.name %></option> 
    <% end %>
    </select>
  </div>
  
  <div class="field">
    <%= form.label :weight %>
    <%= form.number_field :weight %>
  </div>

  <div class="field">
    <%= form.label :height %>
    <%= form.number_field :height %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
